*body {
  scroll-behavior: smooth;
  background-color: #fafafa;
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;400;500;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;
}
.navbar {
  width: 100%;
}
header {
  border-bottom: 2px solid #f0efef;
}
nav {
  background-color: #0644cc;
  height: 90px;
}
header h1 {
  font-weight: 500;
  text-align: center;
  margin: 50px auto;
  font-size: xx-large;
}
.nav-btn {
  margin-left: 5%;
  margin-top: 2%;
  background-color: #f0efef;
  border: none;
  color: #0644cc;
  font-size: medium;
  border-radius: 5px;
  padding: 9px;
  cursor: pointer;
}
.articleContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}
h4 {
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 12px;
  width: 90%;
  color: #0644cc;
}
.card {
  background-color: #f8f9fd;
  padding: "20px";
  margin-bottom: "3%";
  box-shadow: "3px 10px 13px -2px rgba(0, 0, 0, 0.15)";
  border-radius: "5px";
  height: 200px;
  width: 200px;
}
form {
  width: 40%;
  background-color: #f8f9fd;
  padding: 2rem;
  margin: 2% auto;
  box-shadow: 3px 10px 13px -2px rgba(0, 0, 0, 0.27);
}
form label {
  margin: 1rem;
  color: #0644cc;
  margin-left: 4px;
}

form input {
  width: 98%;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  padding-left: 15px;
  color: "black";
  border: transparent;
  font-weight: 500;
  margin-bottom: 15px;
}
form input:focus {
  outline-color: #c1bfbf;
}
#createBtn {
  padding: 10px;
  width: 15%;
  border-radius: 5px;
  border: none;
  background-color: #0644cc;
  color: white;
  font-size: 15px;
  border-bottom: 1px solid;
  margin-left: 4px;
}
#createBtn:hover {
  padding: 10px;
  width: 15%;
  cursor: pointer;
  background-color: white;
  color: #0644cc;
  font-size: 15px;
  border: 1px solid #0644cc;
}

.fill {
  font-size: larger;
  margin-left: 4px;
  margin-bottom: 10px;
}
