body {
  scroll-behavior: smooth;
  background-color: #fafafa;
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;400;500;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;
}
.navbar {
  width: 100%;
}
header {
  border-bottom: 2px solid #f0efef;
}
nav {
  background-color: #0644cc;
  height: 90px;
}
header h1 {
  font-weight: 500;
  text-align: center;
  margin: 50px auto;
  font-size: xx-large;
}
.nav-btn {
  margin-left: 5%;
  margin-top: 2%;
  background-color: #f0efef;
  border: none;
  color: #0644cc;
  font-size: medium;
  border-radius: 5px;
  padding: 9px;
  cursor: pointer;
}
.articleContainer {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}
.loadingStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
h4 {
  margin-top: 5%;
  margin-bottom: 19%;
  font-size: 17px;
  width: 90%;
  color: #0644cc;
}
.card {
  background-color: #f8f9fd;
  padding: 10px 10px 40px 10px;
  margin-bottom: 10%;
  height: 250px;
  width: 280px;
  box-shadow: 3px 10px 13px -2px rgba(0, 0, 0, 0.15);
  margin-bottom: 100px;
  border-radius: 5px;
}

.imgBtn {
  width: 150px;
}

.btnContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 140px;
}
.parentBtnImg {
  text-decoration: none;
  padding: 7px 15px;
  background-color: transparent;
  color: #0644cc;
  border: 1px solid #0644cc;
  border-radius: 5px;
  margin-right: 15px;
  font-size: medium;
  cursor: pointer;
  height: 20px;
}

.parentBtnImg:hover {
  background-color: #0644cc;
  color: white;
}

.parentBtnD {
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
  color: red;
  height: 25px;
  width: 25px;
  font-size: medium;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parentBtnD:hover {
  text-decoration: none;
  padding: 5px;
  box-shadow: 2px -3px 30px -5px rgb(240, 9, 59);
  color: red;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: medium;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parentBtn {
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
  color: #000000;
  height: 25px;
  width: 25px;
  font-size: medium;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parentBtn:hover {
  text-decoration: none;
  padding: 5px;
  box-shadow: 2px -3px 30px -5px rgb(18, 3, 6);
  color: #000000;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: medium;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 40%;
  background-color: #f8f9fd;
  padding: 2rem;
  margin: 2% auto;
  box-shadow: 3px 10px 13px -2px rgba(0, 0, 0, 0.27);
}
form label {
  margin: 1rem;
  color: #0644cc;
  margin-left: 4px;
}

form input {
  width: 98%;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  padding-left: 15px;
  color: "black";
  border: transparent;
  font-weight: 500;
  margin-bottom: 15px;
}
form input:focus {
  outline-color: #c1bfbf;
}
#createBtn {
  padding: 10px;
  width: 15%;
  border-radius: 5px;
  border: none;
  background-color: #0644cc;
  color: white;
  font-size: 15px;
  border-bottom: 1px solid;
  margin-left: 4px;
}
#createBtn:hover {
  padding: 10px;
  width: 15%;
  cursor: pointer;
  background-color: white;
  color: #0644cc;
  font-size: 15px;
  border: 1px solid #0644cc;
}

.fill {
  font-size: larger;
  margin-left: 4px;
  margin-bottom: 10px;
}

.jumbotron-parent {
  justify-content: center;
  display: flex;
}

.jumbotron {
  margin-top: 3%;
  width: 30%;
  background-color: #f8f9fd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 10px 13px -2px rgba(0, 0, 0, 0.15);
}

#img {
  width: 40%;
}

#title {
  font-size: 20px;
  color: #0644cc;
  width: 90%;
}

#url {
  width: 90%;
  color: #000000;
}

#author {
  width: 90%;
  color: #000000;
}

#comments {
  margin-left: 4%;
  width: 90%;
  color: #000000;
}

.detailCard {
  background-color: #f8f9fd;
  padding: 10px 10px 40px 10px;
  margin-bottom: 10%;
  height: 250px;
  width: 300px;
  box-shadow: 3px 10px 13px -2px rgba(0, 0, 0, 0.15);
  margin-bottom: 100px;
  border-radius: 5px;
}

.img-btn {
  display: flex;
  justify-content: space-between;
}

.BtnC {
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
  color: #000000;
  height: 25px;
  width: 25px;
  font-size: medium;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BtnC:hover {
  text-decoration: none;
  padding: 5px;
  box-shadow: 2px -3px 30px -5px rgb(18, 3, 6);
  color: #000000;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: medium;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
